<div class="container">
  <button class="btn btn-primary" (click)="onAdd()">Dodaj</button>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Tytuł</th>
      <th scope="col">Autor</th>
      <th scope="col">Kategoria</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let book of books">
    <tr app-book-element
        [book]="book"
        (editBook)="setBookToEdit($event)">
    </tr>
    <tr class="collapse" id="collapseElement{{book.id}}">
      <td><strong>Opis: </strong>{{book.description}}</td>
      <td><strong>Liczba stron: </strong>{{book.numberOfPages}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
<app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  (setSize)="onChangeSize($event)"
  [pagesToShow]="3"
  [page]="page"
  [perPage]="size"
  [count]="totalElements"
></app-pagination>
<app-add-book *ngIf="adding" (added)="onAdded()"></app-add-book>
<app-edit-book *ngIf="editing" [book]="bookToEdit" (edited)="onEdited()"></app-edit-book>
